<%- include('../layouts/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../layouts/navbar.ejs') %>

    <main>
        <% if (errorMessage.length > 0) { %>
            <div class="user-message user-message--error">
                <i class="fas fa-exclamation-circle"></i> <%= errorMessage %>
            </div>
        <% } %>
        <% if (successMessage.length > 0) { %>
            <div class="user-message user-message--success">
                <i class="fas fa-check-circle"></i> <%= successMessage %>
            </div>
        <% } %>
        <form class="login-form" action="/new-password" method="POST">
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="newPassword" id="password">
            </div>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Update Password</button>
        </form>

    </main>
<%- include('../layouts/end.ejs') %>