<%- include('../layouts/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../layouts/navbar.ejs') %>
        <main>
            <% if (errorMessage.length > 0) { %>
                <div class="user-message user-message--error">
                    <i class="fas fa-exclamation-circle"></i> <%= errorMessage %>
                </div>
            <% } %>
            <% if (successMessage.length > 0) { %>
                <div class="user-message user-message--success">
                    <i class="fas fa-check-circle"></i> <%= successMessage %>
                </div>
            <% } %>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li class="orders__item">
                            <h1>Order - # <%= order._id %></h1>
                            <ul class="orders__products">
                                <% order.items.forEach(product => { %>
                                    <li class="orders__products-item"><%= product.title %> (<%= product.quantity %>)</li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
        <%- include('../layouts/end.ejs') %>