<%- include('../layouts/head.ejs') %>
    </head>

    <body>
        <%- include('../layouts/navbar.ejs') %>
        <main class="centered">
            <h1><i><%= product.title %></i></h1>
            <hr>
            <div>
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <h2>$<%= product.price %></h2>
            <p><%= product.description %></p>
            <form action="/cart" method="POST">
                <button class="btn">Add to Cart</button>
                <input type="hidden" name="productId" value="<%= product.id %>">
            </form>
        </main>
<%- include('../layouts/end.ejs') %>